// create a file called config.env and add the following:

USERNAME = mongo username
PASSWORD = mongo password
DATABASE = mongodb+srv://... url mongo provides for connecting to DB 

JWT_SECRET = your JWT secret here
JWT_EXPIRES_IN = length of JWT session e.g. "30d"